.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  list-style-type: none;
  margin-bottom: 2rem;
}

& h3 {
  margin-block: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}
