.container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0px;
  align-items: center;

  & h2 {
    font-weight: 500;
    text-transform: uppercase;
  }

  & form {
    width: 40%;
    display: grid;
    grid-template-columns: 4fr 1fr;

    & input {
      width: 100%;
      padding: 10px 1rem;
      border: 1px solid lightgray;
    }

    & button {
      background-color: #383838;
      color: #fff;
    }
  }

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;

    & form {
      width: 100%;
      grid-template-columns: 2fr 1fr;
    }
  }
}
