.container {
  margin-block: 4rem;

  & h4 {
    background-color: black;
    color: #fff;
    width: fit-content;
    padding: 1rem 2rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  & h3 {
    margin-block: 1rem;
    text-transform: uppercase;
    font-weight: 400;
  }

  & pre {
    white-space: pre-wrap;
  }
}
