.container {
  white-space: nowrap;
  display: flex;
  align-items: center;

  & .actions {
    display: flex;
    align-items: center;
    margin-right: 1rem;

    & h3 {
      margin-right: 5px;
    }
  }

  & button {
    border: none;
    font-size: 1rem;
  }

  & button:hover {
    cursor: pointer;
  }
}
