.container {
  & .products {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-block: 1.5rem;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  & p,
  & h3 {
    text-transform: uppercase;
  }

  & h3 {
    font-weight: 500;
  }
}
