.container {
  display: grid;
  grid-template-columns: 1fr;
  margin-block: 1rem;

  & label {
    margin-block: 0.8rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 300;
  }

  & input {
    border: 1px solid lightgray;
    padding: 0.8rem 1rem;
    outline: none;
  }
}
